head{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    background-color: beige;
    font-family: "Bebas Neue", sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 1;
  background-color: rgba(255, 255, 209, 0.89);
}

.header{
  position: absolute;
  text-align: center;
  font: "Bebas Neue";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  width: 1000px;
  
}

header.sticky{
  padding: 20px 100px;
  background: rgba(255, 255, 209, 0.329);
  backdrop-filter: blur(5px);
  transition: 0.6s;
  border: 1px;
  border-radius: 10px;
}
header .logo{
  position: relative;
  font-weight: 700;
  color: rgb(255, 90, 39);
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 0.6s;
  -webkit-text-stroke: black 1pt;
}

header:hover{
width: 100%;
height: 8px;
padding: 40px 100px;
background-color: rgba(255, 255, 209, 0.89);
}

header ul li:hover{
  background: beige;
  margin: 25px 0px;
  display: flex;
  align-items: center;
  height: 50px;
  text-align: center;
  transition: 0.5s;
  border: 0px;
  border-radius: 10px;

}

header .logo:hover{
  color: red;
  -webkit-text-stroke: red;

}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(255, 90, 39);
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
header.sticky .logo
header.sticky ul li a{
  color: black;
}

body{
    opacity: 100%;
    text-align: center;
    top: 100px;
}


#content{
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 209, 0.329);
    backdrop-filter: blur(6px);
    background-size: auto;
    border: 3px solid;
    border-color: rgba(255, 85, 0, 0.308);
    width: 700px;
    font-size: 16pt;

}

#introduction{
    text-align: center;
    align-items: center;
    margin: auto;
    width: 50%;
    width: 400px;
    font: 'Times New Roman';
    
}

#titlehead{
    font-size: 56pt;
    color: #ebe1de;
    text-shadow: blue;
    -webkit-text-stroke: black 1px;
  }

#tagline{
    font-size: 36pt;
    color: #ff8800;
    -webkit-text-stroke: black 1px;
  }

  .banner{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .banner video{
    position:fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .banner #titlehead
  .banner #tagline
  .banner .content #header #content{
    position: -ms-page;
    max-height: auto;
    z-index: 1;
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }

  .sidebar{
    position: fixed;
    width: 70px;
    height: 100vh;
    overflow: hidden;
    transition: 0.6s;
    padding: 0;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 209, 0.89);
  }

  .sidebar:hover{
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 209, 0.329);
    backdrop-filter: blur(5px);
  }
  .sidebar ul{
    position: relative;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding: 100px 10px;
  }

  .sidebar ul li{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar ul li:hover{
    background: beige;
    margin-left: 0px;
  }

  .sidebar ul li a{
    position: relative;
    display: flex;
    align-content: space-evenly;
    white-space: nowrap;
    text-decoration: none;
  }

  .sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    margin-left: 0;
  }
  .sidebar ul li a .text{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }




  .fb ul li a{
    position: relative;
    display: flex;
    align-content: space-evenly;
    white-space: nowrap;
    text-decoration: none;
    align-items: center;
  }

  .fb ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    margin-left: 0;
  }
  .fb ul li a .text{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #DD4B1A;
    -webkit-text-stroke: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  

  .fb ul li:hover{
    background: beige;
    margin-left: 0px;
    width: 500px;
    border-radius: 8px;
  }